@{
    ViewData["Title"] = "Obligatorio 1";
}

<div class="text-center">
    <h1 class="display-4">Obligatorio 1</h1>
    <p>Programación 3 - Docentes: Plinio Gañi / Liliana Pino</p><br>
    <p>Matías Corbalán - Silvina Cortés - Matías Santos</p>
</div>
